@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html {
  font-family: Helvetica, sans-serif, "Times New Roman", Times, serif;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgba(245, 255, 250, 0.5);
}

.class-header .logomarca {
  background-color: #d8fae9;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0 30px;
}
@media screen and (max-width: 1080px) {
  .class-header .logomarca {
    flex-direction: column;
    align-items: center;
  }
}
.class-header .logomarca li, .class-header .logomarca a, .class-header .logomarca button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #383838;
  text-decoration: none;
}
.class-header .logomarca .imagem-logo {
  flex: 1;
  max-width: 100%;
  height: 200px;
}
.class-header .logomarca .imagem-logo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  cursor: pointer;
}
.class-header .logomarca nav {
  flex: 1;
}
.class-header .logomarca nav .nav__links {
  list-style: none;
  padding: 0px 0;
  margin: 0 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
@media screen and (max-width: 690px) {
  .class-header .logomarca nav .nav__links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.class-header .logomarca nav .nav__links .link-head {
  padding: 15px 15px;
}
.class-header .logomarca nav .nav__links .link-head a {
  transition: all 0.3 ease 0s;
  white-space: nowrap;
}
.class-header .logomarca nav .nav__links .link-head:hover {
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(157, 243, 196, 0.1), rgba(31, 170, 138, 0.5));
}
.class-header .logomarca nav .nav__links .pesquisar {
  font-size: large;
  cursor: pointer;
  padding: 15px 18px;
}
.class-header .logomarca nav .nav__links .pesquisar:hover {
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(157, 243, 196, 0.1), rgba(31, 170, 138, 0.5));
}
.class-header .logomarca nav .nav__links .pesquisar:hover i {
  color: #1faa89;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.logomarcas .cabecalho-logomarcas {
  text-align: center;
}
.logomarcas .cabecalho-logomarcas a {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  color: #1faa89;
}
.logomarcas .cabecalho-logomarcas hr {
  color: #1faa89;
  height: 5px;
}
.logomarcas img {
  background-color: #d8fae9;
  width: 100%;
}
.logomarcas .imga img {
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
  padding: 5px 5px;
  border-radius: 10px;
}
.logomarcas .imgb .ifba {
  display: flex;
  justify-content: center;
}
.logomarcas .imgb .ifba img {
  margin-left: 10px;
}
.logomarcas .imgb .ifba img:first-child {
  margin-left: 0;
}
.logomarcas .imgb img {
  height: 110px;
  object-fit: contain;
  margin-bottom: 10px;
  padding: 5px 5px;
  border-radius: 10px;
}

.flex-carrocel {
  margin-top: 60px;
}
.flex-carrocel .carousel-item img {
  height: 300px;
  object-fit: cover;
}

.site-footer {
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d8fae9;
}

.redes-sociais {
  font-size: 150%;
  display: flex;
}
.redes-sociais i {
  flex: 1;
  text-align: left;
}

.footer-copy {
  text-align: center;
}

.cabecalho-noticias {
  margin-top: 60px;
  text-align: center;
}
.cabecalho-noticias a {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  color: #1faa89;
}
.cabecalho-noticias hr {
  color: #1faa89;
  height: 5px;
}

.noticias {
  padding: 0;
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.noticias li {
  width: 250px;
}
.noticias li .caixa-img {
  margin-right: 0;
  width: 250px;
  height: 200px;
}
.noticias li .caixa-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.noticias li .titulo {
  font-size: 20px;
  font-weight: bold;
  color: #62d2a2;
  text-decoration: none;
}
.noticias li .conteudo {
  font-size: 16px;
}
.noticias li .data-public {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

/*
.preto{
    padding-top: 80px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    a{
        text-decoration: none;
        font-weight: bold;
        font-size: 180%;
        color: $preto;
        //text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452);   

    }
    .noticias{       
        //background-color: $cor-verde3;



        .noticia-col{            
            min-height: 200px;  
            min-width: 250px;  
            margin: 5px 5px; 
            display: flex; 
            justify-content: center;
            .content-da-caixa{
                background-color: $cor-verde3;
                padding: 5px 5px;
                display:flex;
                flex-direction: column;
                p{
                    flex: 1;
                }
            }
            .imagem-container{
                flex: 6;
                width: 250px;
                height: 150px;
                overflow: hidden;
                position: relative;

                img{

                    display: block;
                    position: absolute;
                    top: -9999px;
                    bottom: -9999px;
                    left: -9999px;
                    right: -9999px;
                    margin: auto;                  
                }
            }
        }
    }
    a:hover{
        color: rgba(0,0,0,0.8);
        color: #1faa89;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
}
.branco{
    margin-top: 50px;
}

*/

/*# sourceMappingURL=output.css.map */
