@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html {
  font-family: Helvetica, sans-serif, "Times New Roman", Times, serif;
}

body {
  background-color: rgba(245, 255, 250, 0.5);
}

.class-header .logomarca {
  position: relative;
  background-color: #d8fae9;
  text-align: right;
  font-size: 400%;
  width: 100%;
  height: 250px;
  line-height: 250px;
  font-weight: bold;
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  /* establish flex container */
  flex-direction: column;
  /* make main axis vertical */
  justify-content: center;
  /* center items vertically, in this case */
  align-items: flex-end;
}
.class-header .logomarca img {
  max-width: 100%;
  max-height: 100%;
}
.class-header .navbar-2 {
  background-image: linear-gradient(to bottom, rgba(31, 170, 138, 0.5), rgba(157, 243, 196, 0.1));
  background-color: rgba(31, 170, 138, 0.5);
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 100%;
  font-size: 120%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #383838;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
}
.class-header .navbar-2 a {
  color: #383838;
}
.class-header .navbar-2 .nav-item {
  padding: 7px;
}
@media screen and (max-width: 992px) {
  .class-header .navbar-2 .nav-item {
    border-radius: 10px;
  }
}
.class-header .navbar-2 .navbar-toggler {
  margin-top: 5px;
  margin-bottom: 5px;
}
.class-header .navbar-2 .nav-item:hover {
  background-color: #d8fae9;
}
.class-header .navbar-2 .dropdown-menu {
  background-color: rgba(31, 170, 138, 0.4);
  margin-top: 5px;
}
.class-header .navbar-2 .dropdown-menu .dropdown-item:hover {
  background-color: #d8fae9;
}
.class-header .navbar-2 .d-flex {
  margin-bottom: 0;
}
.class-header .navbar-2 .pesquisar {
  font-size: large;
  cursor: pointer;
  margin-right: 50px;
}
.site-footer {
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d8fae9;
}

.main-area {
  min-height: 54%;
}

.redes-sociais {
  font-size: 150%;
  display: flex;
}
.redes-sociais i {
  flex: 1;
  text-align: left;
}

.footer-copy {
  text-align: center;
}

/*
.menu-inicial{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li{
            list-style: none;
            background-color: rgb(62, 129, 62);            
            flex: 1;
            text-align: center;
            height: 40px;  
            position: relative;

            a{   
                display: block;           
                //color: rgb(14, 87, 14);
                color: #000;
                text-decoration: none;                
                font-weight: bold;              
                width: 100%;
                height: 100%;   
                position: absolute;   
                top: 25%;      
                margin: 0;
                white-space: nowrap;
            }



        }
        li:hover{
            background-color: rgb(14, 87, 14);
            a{
                color:palegreen;
            }
        }

    }   

}
*/
.preto {
  padding-top: 80px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.preto a {
  text-decoration: none;
  font-weight: bold;
  font-size: 180%;
  color: #000;
}
.preto .noticias .noticia-col {
  min-height: 200px;
  min-width: 250px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
}
.preto .noticias .noticia-col .content-da-caixa {
  background-color: #9df3c4;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
}
.preto .noticias .noticia-col .content-da-caixa p {
  flex: 1;
}
.preto .noticias .noticia-col .imagem-container {
  flex: 6;
  width: 250px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.preto .noticias .noticia-col .imagem-container img {
  display: block;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.preto a:hover {
  color: rgba(0, 0, 0, 0.8);
  color: #1faa89;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.branco {
  margin-top: 50px;
}

/*# sourceMappingURL=output.css.map */
